
export(calculate_DRmetrics)
export(GRlogisticFit)
export(GRlogistic_4parameters)
export(Overall_function)
export(average_replicates)
export(check_metadata_names)
export(cleanup_metadata)
export(identify_keys)
export(load_data)
export(load_manifest)
export(load_results)
export(load_templates)
export(merge_data)
export(normalize_data)
import(reshape2)
import(plyr)
import(readr)
import(dplyr)
import(gCellGenomics)
import(stringr)
import(readr)
import(readxl)
import(openxlsx)
import(httr)
